body {
    font-size: 1.5em;
    margin: 0px;
    font-family: Arial,serif;
}

div {
    padding: 2% 2%;
}

.Top {
    padding: 15% 0% 5% 0%;
    text-align: center;
}

.hd {
    padding: 2% 0% 0% 0%;
    position: fixed;
    text-align: center;
    margin: -15% auto auto auto;
    background: #FDFDFD;
    width: 100%;
}

h1 {
    margin: 0px;
}

h2 {

}

h3 {

}

p {
    font-size: 1.5rem;
}

.Middle {
    background-color: rgb(215, 253, 253);
    position: inherit;
}

.Bottom {
    background-color: #6c7b95;
}

.underline {
    text-decoration-line: underline;
}

.camera {
    width: 5%;
}

.flower {
    position: static;
    width: 20%;
}

.Services {
    margin: 0px;
    text-align: center;
    margin: 0 auto 0 auto;
}

.type-services {
    padding: 0% 0%;
    width: 100%;
    display: inline-block;

}

.pt {
    border-radius: 30px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.description {
    width: 50%;
    text-align: center;
    margin: 0 auto 0 auto;
}

.slider-container {
    width: 212px;
    height: 350px;
    overflow: hidden;
    margin: 0% auto 0% auto;
    padding: 2% 0%;
}

.image-container {
    width: 410px;
    height: 291px;
    position: relative;
}

.button-container {
    position: relative;
    top: -60px;
}

.slider-button {
    width: 20px;
    height: 20px;
    background-color: #FDFDFD;
    border-radius: 30px;
    z-index: 99;
    position: relative;
    display: inline-block;
}

#slider-image-1:target ~ .image-container {
    left: 0px;
}

#slider-image-2:target ~ .image-container {
    left: -210px;
}


@media only screen and (max-width: 450px) {
    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .flower {
        width: 10%;
    }

    .Services {
        font-size: 0.7rem;
    }

    .description, .Bottom {
        font-size: 0.8rem;
        padding-bottom: 10px;
    }

    .type-services {
        padding: 0%;
    }

    .Services {
        text-align: center;
    }

    .pt {
        border-radius: 30px;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    .image-container {
        width: 410px;
        height: 291px;
        position: relative;
        transition: left 2s;
    }
    
    .button-container {
        position: relative;
        top: -60px;
    }

    .slider-container {
        width: 210px;
        height: 350px;
        overflow: hidden;
        margin: 0% auto 0% auto;
        padding: 2% 0%;
    }
    
    .slider-button {
        width: 25px;
        height: 25px;
        background-color: #FDFDFD;
        border-radius: 30px;
        z-index: 99;
        position: relative;
        display: inline-block;
    }
    
}
